<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Message Board</title>
  </head>
  <body>
    <h2>This is the message board project - Hello World!</h3>
    <div class="message-content">
      <h3>Messages</h4>
      <% if(messages.length >0 ) { %> <% messages.map((message) => { %>
        <h4 class="user"><%=message.user%></h3>
        <p class="text"><%=message.text%></p>
        <p class="date-added"><%=message.added%></p>
      </a>
      <%})} else {%>
      <p>No messages saved</p>
      <%}%>
    </div>
  </body>
</html>
